# Python cache
*.pyc

# OS X temporary metadata
._*
*.DS_Store

# Wiki page
wiki/

# Results
output/
projections*
*.pt
*/*.pt
yolov5_detect/runs/
*.csv

# other hidden files
*.pylintrc
*.style.yapf
*.theanorc